/* Mobile & Tablet */
@media (max-width: 740px) {
  .s-col-ful {
    width: 100% !important;
  }
  .s-mt-8 {
    margin-top: 8px !important;
  }
  .s-mt-16 {
    margin-top: 16px !important;
  }
  .s-mt-32 {
    margin-top: 32px!important;

  }
  #header {
    overflow: hidden;
  }
  #header .search-btn {
    display: none;
  }
  #header .bar-btn {
    display: block;
    font-size: 24px;
    padding: 10px 20px;
  }
  #header .bar-btn.active {
    color: #000;
    background-color: #ccc;
  }
  #header .bar-btn {
    position: absolute;
    top: 0;
    right: 0;
  }
  #nav {
    display: block;
  }
  #nav > li:first-child {
    display: inline-block;
  }
  #nav li {
    display: block;
  }
  #nav .subnav {
    display: none;
    position: initial;
    top: 100%;
    left: 0px;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 30%);
  }
  #nav .subnav li {
    display: block;
    padding: 4px 32px;
    min-width: 160px;
    color: #fff;
    background-color: #333;
  }

  #nav > li:hover a {
    color: #fff;
  }
  #content .members-list {
    margin-top: 32px;
  }
  #content .member-img {
    width: 200px;
  }
  .tours-list .buy-ticket {
    font-family: sans-serif;
    font-size: 15px;
    width: 100%;
    text-decoration: none;
    padding: 14px 16px;
    background-color: #000;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    border: none;
}
  .contact-form .form-submit {
    float: right;
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    font-size: 15px;
}
}
